<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community page</title>
    {% load static %}
    <link rel= "stylesheet" type= "text/css" href= "{% static 'comunidade/base.css' %}">
  </head>
  <div class="community-block">
    <p class="nome">{{community.nome}}</p>
    <p class="tag">@{{community.nome_tag}}</p>
    <p>{{community.sobre}}</p>
    <img
      src="{{ community.profile_picture.url }}"
      alt="Imagem de perfil"
      class="community-image"
    />
    {% if not is_participating%}
    <form method="post" action="{% url 'join_community' community.id %}">
      {% csrf_token %}
      <button type="submit">Participar</button>
    </form>
    {% else %}
      <form method="post" action="{% url 'exit_community' community.id %}">
        {% csrf_token %}
        <button type="submit">Sair</button>
      </form>
    {% endif%}
  </div>
      
</body>
</html>