{% extends "comunidade/base.html" %} {% block content %}
<div class="container">
<form action="" method="post" enctype="multipart/form-data" class="formulario" >
  {% csrf_token %} {# Token pra evitar ataques csrf #} 
  <p>{{ form.nome.label }}</p>
  <p>{{ form.nome }} </p>

  {% if form.errors %}
      {% for error in form.nome.errors %}
      <p>{{error}}</p>
      {% endfor %}
  {% endif %}

  <p>{{ form.sobre.label }} </p>
  <p>{{ form.sobre }}</p>
  
  {% if form.errors %}
      {% for error in form.sobre.errors %}
      <p>{{error}}</p>
      {% endfor %}
  {% endif %}

  {% if erro %} {#Erro referente ao upload #}
    <p>Houve um erro no upload de imagem. Por favor tente novamente.</p>
  {% endif %}

  <p>{{ form.profile_picture.label }} </p>
  <p>{{ form.profile_picture }}</p>

  {% if form.errors %}
    {% for error in form.profile_picture.errors %}
      <p>{{error}}</p>
    {% endfor %}
  {% endif %}

  <button type="submit">Enviar</button>
  <button>
    <a href="{% url 'community_preview' community.nome_tag %}">Voltar</a>
  </button>
</form>
</div>
{% endblock %}
