{% extends "comunidade/base.html" %}
{% load static %}
  {% block content %}
  <div class="container">
    <div class="community-block">
    
    <p class="nome">{{community.nome}}</p>
    <p class="tag">@{{community.nome_tag}}</p>
    <p>{{community.sobre}}</p>
    <img
      src="{{ community.profile_picture.url }}"
      alt="Imagem de perfil"
      class="community-image"
    />
    
    {% if community.criador.id == user_id %} {# admin #}
    <div class="botoes-admin">
      <button>
        <a href="{% url 'community_edit' community.nome_tag %}">Editar</a>
      </button>
      <button>
        <a href="{% url 'community_delete' community.nome_tag %}">Deletar</a>
      </button>
    </div>
    
    <div class="posts-admin">
      <form action="{% url 'community_post' community.id %}" method="post">
        {% csrf_token %}
        {{form.body}}
        <button type="submit">Enviar</button>
      </form>
    </div>
    {% else %} 
      {% if not is_participating %} {# Não participando#}
  
      <form method="post" action="{% url 'join_community' community.id %}">
        {% csrf_token %}
        <button type="submit">Participar</button>
      </form>
  
      {% else %} {# Participando #}
  
      <form action="{% url 'community_post' community.id %}" method="post">
        {% csrf_token %}
        {{form.body}}
        <button type="submit">Enviar</button>
      </form>
  
      <form method="post" action="{% url 'exit_community' community.id %}">
          {% csrf_token %}
          <button type="submit">Sair</button>
        </form>
  
        {% endif %}
    {% endif %}
  
    <button>
      <a href="{% url 'my_communities' %}">Voltar</a>
    </button>
    
    {% for post in posts %}
      <section id="{{post.id}}" >
        <div class="centralizar">
        <div  class="comentario">
        <h4>{{post.user.username}}</h4>
        <p class="post-body">{{post.body}}</p>
        <p>{{post.data_post}}</p>
        </div>
      </div>
        {% if post.user == request.user %}
          <button class="edit-post" onclick="setEditPost(this.parentNode)">Editar</button>
          <button class="delete-post"><a href="{% url 'delete_post' post.id %}">Deletar</a></button>
          
        {% endif %}
      </section>
    {% endfor %}
    </div>
    <script src="{% static 'comunidade/community_preview.js' %}"></script>
  </div>
  {% endblock %}    