{% extends "comunidade/base.html" %}
{% load static %}
{% load tz %}
{% block content %}
  <div class="container">
    <div class="community-block">
      <div class="titulo-comunidade-preview">
        <p class="nome">{{community.nome}}</p>
        <p class="tag">@{{community.nome_tag}}</p>
      </div>
      <p>{{community.sobre}}</p>
      <img
        src="{{ community.profile_picture.url }}"
        alt="Imagem de perfil"
        class="community-image"
      />
    
      {% if community.criador.id == user_id %} {# admin #}
        <div class="botoes-admin">
          <button>
            <a href="{% url 'community_edit' community.nome_tag %}">Editar</a>
          </button>
          <button>
            <a href="{% url 'community_delete' community.nome_tag %}">Deletar</a>
          </button>
        </div>

      {% else %} 
        {% if not is_participating %} {# Não participando#}
    
          <form method="post" action="{% url 'join_community' community.id %}">
            {% csrf_token %}
            <button type="submit">Participar</button>
          </form>
  
        {% else %} {# Participando #}
  
          <form method="post" action="{% url 'exit_community' community.id %}">
              {% csrf_token %}
              <button type="submit">Sair da comunidade</button>
            </form>
  
        {% endif %}
    {% endif %}
  
    {% if is_participating or community.criador.id == user_id %}
      <div class="posts-admin">
        <form action="{% url 'community_post' community.id %}" method="post">
          {% csrf_token %}
          {{form.body}}
          {{form.musica_nome.as_hidden}}
          {{form.musica_artista.as_hidden}}
          {{form.musica_link.as_hidden}}
          {{form.musica_imagem.as_hidden}}
          <modal class="post-modal-music" id="musica-modal">
            <section class="modal-content" id="modal-content">
              <search class="search-music">            
                <input id="music-query" type="text" placeholder="Digite o nome da música">
                <button type="button" id="query-btn">Pesquisar</button>
              </search>
            </section>
          </modal>
          <button id="musica-btn" type="button">Inserir Música</button>
          <button type="submit">Enviar</button>
        </form>
      </div>
    {% endif %}
    
    <button>
      <a href="{% url 'my_communities' %}">Voltar</a>
    </button>
    
    {% for post in posts %}
      <section id="{{post.id}}" >
        <div class="centralizar">
          <article  class="comentario">
            <div class="usuario-post">
              <!--Placeholder para foto de perfil-->
              <img src="https://placecats.com/75/75" alt="profile picture" style="border-radius: 50%;">
              <h4>{{post.user.username}}</h4>
            </div>
            <p class="post-body">{{post.body}}</p>

            <div class="low-post-section">
            {% localtime on %}
              <p>{{post.data_post|timezone:"America/Sao_Paulo"|date:"Y m d H:i"}}</p>
            {% endlocaltime %}
              <div id="{{post.id}}" class="like-section">
                {% if request.user in post.curtidores.all %}
                <button class="like-post" onclick="dislike(this.parentNode)"><img class="like" src="{% static "comunidade/dislike.png"%}" alt="Botão de descurtir"></button> 
                {% else %}
                <button class="like-post" onclick="like(this.parentNode)"><img class="like" src="{% static "comunidade/like.png"%}" alt="Botão de curtir"></button>
                {% endif %}
                <p class="curtidas">{{post.curtidas}}</p> 
              </div>     
            </div>


            {% if post.musica != None %}
              <a href="{% url 'player' %}?nome={{ post.musica.nome }}&nomeartista={{ post.musica.artista }}&linkmusica={{ post.musica.link }}&imagem={{ post.musica.imagem }}"><img src="{{post.musica.imagem}}"></a>
              <p>{{post.musica.nome}}</p>
              <p>{{post.musica.artista}}</p>
            {% endif %}
          </article>
        </div>
        {% if post.user == request.user %}
          <button class="edit-post" onclick="setEditPost(this.parentNode)">Editar</button>
          <button class="delete-post"><a href="{% url 'delete_post' post.id %}">Deletar</a></button>    
        {% endif %}
      </section>
    {% endfor %}
    </div>
    <script src="{% static 'comunidade/community_preview.js' %}"></script>
  </div>
{% endblock %}    