{% extends "comunidade/base.html" %} {% block content %}
<div class="community-block">
  <p class="nome">{{community.nome}}</p>
  <p class="tag">@{{community.nome_tag}}</p>
  <p>{{community.sobre}}</p>
  <img
    src="{{ community.profile_picture.url }}"
    alt="Imagem de perfil"
    class="community-image"
  />
  <div>
  <button>
    <a href="{% url 'community_edit' community.nome_tag %}">Editar</a>
  </button>
  <button>
    <a href="{% url 'community_delete' community.nome_tag %}">Deletar</a>
  </button>
  <button>
    <a href="{% url 'base' %}">Voltar</a>
  </button>
</div>
</div>
{% endblock %}
