<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community page</title>
    {% load static %}
    <link rel= "stylesheet" type= "text/css" href= "{% static 'comunidade/base.css' %}">
  </head>
  <body>
  <div class="my-communities-block">    
    <div>
    <h2>Minhas comunidades:</h2>
      <div class="cards-see">
        {% for community in user_communities %}
      
        <div class="card">
          <p class="nome">{{community.nome}}</p>
          <p class="tag">@{{community.nome_tag}}</p>

              <button><a href="{% url 'community_preview' community.nome_tag %}">Ver</a></button>

      </div>
        {% endfor %}
      </div>
      <div>
        <h2>Explorar:</h2>
    
        <div class="cards-see">
        {% for community in communities %}
      
        <div class="card">
          <p class="nome">{{community.nome}}</p>
          <p class="tag">@{{community.nome_tag}}</p>

          <button><a href="{% url 'community_preview' community.nome_tag %}">Ver</a></button>

      </div>
        {% endfor %}
      </div>
      </div>
  </div>
  </div>

      </body>
</html>