{% extends "comunidade/base.html" %}
    {% block content %}
    <button><a href="{% url 'community_create' %}">Criar comunidade</a></button>
    <div class="my-communities-block">
        <div class="container">
          <h2>Minhas comunidades:</h2>
            <div class="cards-see">
              {% for community in criador_communities %}
    
              <div class="card">
                <div class="genre-background" style="background-image: url('{{ community.profile_picture }}')"></div>
                <div class="genre-label">
                  <a href="{% url 'community_preview' community.nome_tag %}" class="nome"
                  >{{ community.nome }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="container">
        <h2>Comunidades seguidas:</h2>
        <div class="cards-see">
          {% for community in user_communities %}

          <div class="card">
            <div class="genre-background" style="background-image: url('{{ community.profile_picture }}')"></div>
            <div class="genre-label">
              <a href="{% url 'community_preview' community.nome_tag %}" class="nome"
              >{{ community.nome }}</a>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
        <div class="container">
          <h2>Explorar:</h2>

          <div class="cards-see">

            {% for community in communities %}

            <div class="card">
              <div class="genre-background" style="background-image: url('{{ community.profile_picture }}')"></div>
              <div class="genre-label">
                <a href="{% url 'community_preview' community.nome_tag %}" class="nome"
                >{{ community.nome }}</a>
              </div>
            </div>
               
            {% endfor %}
          </div>
          </div>
        </div>
    </div>
    {% endblock %}