{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'musica/css/base.css' %}">
    <title>Document</title>

    <style>
        ul {
            width: 90%;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            width: 100%;
        }

        .capa {
            width: 30%;
        }

        .textfield {
            width: 50%;
            max-width: 50%;
        }

        .play {
            width: 20%;
        }

        h1 {
            color: black;
        }

        h2 {
            font-size: 15px;
            line-height: 20px;
        }

        .capa img {
            border-radius: 10px;
        }

        .barra-pesquisa {
            border-radius: 5px;
            border: 1px solid #6545F0;
            padding: 2px 10px;
        }
    </style>

</head>

<body>
    <main>
        <section>
            <header>
                <form method="GET" action="{% url 'buscar_musicas' %}">
                    <input class="barra-pesquisa" type="text" name="q" placeholder=" O que você quer ouvir ?">
                    <button class="button" type="submit">Buscar</button>
                </form>
            </header>
        </section>

        <section>
            {% if musicas %}
            <h2>Resultados:</h2>
            <ul class="musica-grid">
                {% for musica in musicas_obj %}
                <li>
                    <div class="capa">
                        <img src="{{ musica.imagem }}" alt="Capa do Álbum" width="100">
                    </div>
                    <div class="textfield">
                        <h1>{{ musica.nome }}</h1>
                        <h2>{{ musica.artista }}</h2>
                    </div>
                    <a href="{% url 'player' %}?nome={{ musica.nome }}&nomeartista={{ musica.artista }}&linkmusica={{ musica.linkmusica }}&imagem={{ musica.imagem }}"
                        target="" class="play">
                        <img src="https://cdn-icons-png.flaticon.com/512/10181/10181264.png" alt="" width="30">
                    </a>
                    <p>{{musica}}</p>
                    <p>{{musica.nome}}</p>
                    {% if request.user in musica.curtida.all %}
                        <button type="submit" style="background-color: transparent; border: none;"><img class="curtida"
                            src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/love.png?v=1748992652286"
                            onclick="dislikeMusic(this,'{{musica.nome}}','{{musica.artista}}')" alt="" width="30"
                            style="cursor: pointer;"></button>
                    {% else %}
                        <button type="submit" style="background-color: transparent; border: none;"><img class="curtida"
                                src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/peace.png?v=1748992644854"
                                onclick="likeMusic(this,'{{musica.nome}}','{{musica.artista}}')" alt="" width="30"
                                style="cursor: pointer;"></button>
                    {% endif %}
                    <div class="mobile-menu">
                        <span>&#8226;&#8226;&#8226;</span>

                        <div class="nav-list">
                            <button class="close-menu">✕</button>
                            {% csrf_token %}
                            <form method="POST" action="{% url 'salvar_musica' %}">
                                <input type="hidden" name="nome" value="{{ musica.nome }}">
                                <input type="hidden" name="nomeartista" value="{{ musica.nomeartista }}">

                                <select name="playlist_id" required>
                                    {% for playlist in playlists %}
                                    <option value="{{ playlist.id }}">{{ playlist.nome }}</option>
                                    {% endfor %}
                                </select>

                                <button type="submit">Salvar na Playlist</button>
                            </form>
                        </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>
    <nav>
        <a href="{% url 'buscar_musicas' %}">Buscar</a>
        <a href="{% url 'listar_playlists' %}">Biblioteca</a>
        <a href="{% url 'my_communities' %}">Comunidade</a>
        <a href="{% url 'perfil' %}">Perfil</a>
    </nav>
    <script src="{% static 'musica/js/mobile-nav-bar.js' %}"></script>
</body>
<script>
    // Element é a imagem e o src o atritbuto que tem o link
    async function likeMusic(element, nome, artista) {
        element.src = "https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/love.png?v=1748992652286";
        element.removeAttribute("onclick"); // Remove o onclick para impedir que o usuario execute mais curtidas
        // enquanto o sistema não retorna a curtida
        await like(nome, artista);
        // esse `` é tipo um f do python em uma string e usa ${} pra formatar, é importante que nas strings
        //tenham '' pro html reconhecer
        element.setAttribute("onclick", `dislikeMusic(this,'${nome}','${artista}')`);
    }
    async function dislikeMusic(element, nome, artista) {
        element.src = "https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/peace.png?v=1748992644854";
        element.removeAttribute("onclick");
        await dislike(nome, artista); // Não tem ainda dislikeMusic, tenta ver se tu conseguir fazer com base no like
        element.setAttribute("onclick", `likeMusic(this,'${nome}','${artista}')`);
    }

    //Eu não entendo essa função
    //Ela retorna um cookie
    //Eu copiei da documentação do django para pegar o csrftoken
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                // Seilá django, tu que escreveu isso dai
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    async function like(nome, artista) {
        const url = 'playlist/curtidas/';
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: { 'X-CSRFToken': getCookie("csrftoken") }, // precisa do token
                body: JSON.stringify({
                    "nome": nome,
                    "artista": artista
                })
            })
                .then(
                    response => {
                        console.log(response.status);
                        if (!response.ok) {
                            throw Error("HTTP STATUS " + response.status);
                        }
                        return response.json();
                    }
                )
        } catch (error) {
            console.error(error.message);
        }
    }
    async function dislike(nome, artista) {
        const url = 'playlist/descurtir/';
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: { 'X-CSRFToken': getCookie("csrftoken") }, // precisa do token
                body: JSON.stringify({
                    "nome": nome,
                    "artista": artista
                })
            })
                .then(
                    response => {
                        console.log(response.status);
                        if (!response.ok) {
                            throw Error("HTTP STATUS " + response.status);
                        }
                        return response.json();
                    }
                )
        } catch (error) {
            console.error(error.message);
        }
    }
</script>

</html>