{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'musica/css/base.css' %}">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 90%;
        }

        .button {
            margin-top: 20px;
        }
        main {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <main>
        <section>
            <form method="POST" action="{% url 'editar_playlist' playlist.id %}">
                {% csrf_token %}
                <label>Nome:</label>
                <input type="text" name="nome" required>
                <label>Descrição:</label>
                <textarea name="descricao"></textarea>
                <button type="submit" class="button">Salvar</button>
            </form>
        </section>
    </main>

</body>

</html>
