<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div style="background-color: white; height: 430px;" class="player-card">
        <div class="album-img">
            <img src='{{ musica.imagem }}' alt="Capa">
        </div>

        <h2>{{musica.titulo}}</h2>
        <h3>{{musica.artista}}</h3>
        <div style="padding: 15px; justify-content: space-between;" class="player-control">
            <button id="next" onclick="returnSong()"><img style="width: 50px; rotate: -180deg;" src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/next%20(1).png?v=1745883833856" alt=""></button>
            <button id="play" onclick="playAudio()"><img style="width: 50px;" src="https://cdn.discordapp.com/attachments/1361902019777921094/1364753581168660480/play-button_1.png?ex=680ad151&is=68097fd1&hm=c5a11a8dd1f1e024215b0dfead35235c129885b3aeaeae87a02bc8e6454777bf&" alt=""></button>
            <button id="pause" onclick="pauseAudio()"><img style="width: 50px;" src="https://cdn.discordapp.com/attachments/1361902019777921094/1364753581412057158/pause.png?ex=680ad151&is=68097fd1&hm=4091b5395a3a07539b0c319e148bc3b9400683ea42eb5817f19516fdf39dcfc4&" alt=""></button>
            <button id="next" onclick="nextSong()"><img style="width: 50px;" src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/next%20(1).png?v=1745883833856" alt=""></button>
        </div>

        <audio id="player" controls="controls">
            <source id="audio-source" src="{{ musica.link }}" type="audio/mp3" />
        </audio>
    </div>

</body>
</html>


<script>
    const playlist = {{ playlist }}; // django + js para pegar a playlist de musicas em "musicas_encontradas" CONSIDERE Q FUNCIONA
    let currentIndex = playlist.findIndex(m => m.linkmusica === "{{ musica.link }}");
    const player = document.getElementById('player');
    const audioSource = document.getElementById('audio-source');
    const playBtn = document.getElementById("play");
    const pauseBtn = document.getElementById("pause");

    function playAudio() {
        player.play();
        playBtn.style.display = 'none';
        pauseBtn.style.display = 'inline';
    }

    function pauseAudio() {
        player.pause();
        pauseBtn.style.display = 'none';
        playBtn.style.display = 'inline';
    }

    function nextSong() {
        currentIndex = (currentIndex + 1) % playlist.length;
        const musica = playlist[currentIndex];

        audioSource.src = musica.linkmusica;
        player.load();

        document.querySelector('.album-img img').src = musica.imagem;
        document.querySelector('h2').innerText = musica.nome;
        document.querySelector('h3').innerText = musica.nomeartista;
    }

    function returnSong() {
        currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
        const musica = playlist[currentIndex];

        audioSource.src = musica.linkmusica;
        player.load();

        document.querySelector('.album-img img').src = musica.imagem;
        document.querySelector('h2').innerText = musica.nome;
        document.querySelector('h3').innerText = musica.nomeartista;
    }
</script>