ul {
    width: 90%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.capa {
    width: 30%;
}

.textfield {
    width: 50%;
    max-width: 50%;
}

h1 {
    color: white;
}

h2 {
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.capa img {
    border-radius: 10px;
}

.nav-busca {
    margin-bottom: 20px;
    width: 100%;
}

.pesquisa {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra-pesquisa {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.092);
    border: none;
    border-radius: 10px;
    padding: 3px 20px;
    border: 1px solid white;
}

.barra-pesquisa:focus {
    color: white;
}

.barra-pesquisa::placeholder {
    color: white;
}

.option-button {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 40px;
    border: none;
}

.musica-grid {
    width: 100%;
}

.musica-grid li {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0.3px solid white;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 15px;
}