ul {
    width: 90%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 110%;
}

.button {
    margin-bottom: 20px;
}

.textfield {
    width: 50%;
    max-width: 50%;
}

h1 {
    color: white;
}

p {
    color: rgba(255, 255, 255, 0.618);
    font-size: 15px;
}

.section-title {
    margin-bottom: 20px;
}

.swal-sm {
    width: 400px !important;
    font-size: 14px;
    padding: 1rem !important;
}

a {
    text-decoration: none;
}