<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'musica/css/base.css' %}">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'musica/img/favicon.ico' %}">
    {%block css%}{% endblock css%}
</head>

<body>
    <main>
        {% block content %} {% endblock %}
    </main>
    <nav class="navbar">
        <a href="{% url 'principal' %}"><i class="fa-solid fa-house"></i> Home</a>
        <a href="{% url 'buscar_musicas' %}"><i class="fa-duotone fa-solid fa-magnifying-glass"></i>Buscar</a>
        <a href="{% url 'listar_playlists' %}"><i class="fa-solid fa-book"></i>Biblioteca</a>
        <a href="{% url 'my_communities' %}"><i class="fa-duotone fa-solid fa-users"></i>Comunidade</a>
        <a href="{% url 'perfil' request.user.username %}"><i class="fa-duotone fa-solid fa-user"></i>Perfil</a>
    </nav>
</body>
</html>