{% extends "musica/base.html" %}
{% load static %}
{% block css %}
    <link red="stylesheet" href="{% static 'musica/css/criar_playlist.css'%}">
{% endblock %}

{% block content %}
    <section>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.nome.label_tag }}</p>
            <p>{{ form.nome }}</p>

            <p>{{ form.descricao.label_tag }}</p>
            <p>{{ form.descricao }}</p>

            <p>{{ form.imagem.label_tag }}</p>
            <p>{{ form.imagem }}</p>
            <button type="submit" class="button">Criar</button>
        </form>
    </section>
{% endblock %}
