{% extends "musica/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "musica/css/player.css"%}" >
{% endblock css %}

{% block content %}
    <section class="sec">
        <header>
            <div class="voltar">
            </div>
            <h1>Music Player</h1>
            <div class="menu">
            </div>
        </header>
        <div class="album-img">
            <img src='{{ musica.imagem }}' alt="Capa">
        </div>
    </section>
    <section>
        <div class="title">
            <h2>{{musica.titulo}}</h2>
            <h3>{{musica.artista}}</h3>
        </div>

        <audio id="player" controls="controls">
            <source id="audio-source" src="{{ musica.link }}" type="audio/mp3" />
        </audio>
        <div class="progress-container" onclick="seek(event)">
            <div class="progress-bar" id="progress-bar"></div>
            <div class="progress-thumb" id="progress-thumb"></div>
        </div>

        <div class="player-control">
            <button class="player-button" id="return" onclick="returnSong()">
                <img src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/next%20(1).png?v=1745883833856"
                    alt="">
            </button>
            <button class="player-button" id="play" onclick="playAudio()"><img
                    src="{% static 'musica/img/play.webp' %}" alt=""></button>
            <button class="player-button" id="pause" onclick="pauseAudio()"><img
                    src="{% static 'musica/img/pause.webp' %}" alt=""></button>
            <button class="player-button" id="next" onclick="nextSong()">
                <img src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/next%20(1).png?v=1745883833856"
                    alt="">
            </button>
            <form action="{% url 'salvar_musica' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="nome" value="{{ musica.titulo }}">
                <input type="hidden" name="nomeartista" value="{{ musica.artista }}">

                <label for="playlist_id" style="display: none;">Escolha uma playlist:</label>
                <select name="playlist_id" id="playlist_id" style="display: none;" required>
                    {% for playlist in playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.nome }}</option>
                    {% endfor %}
                </select>
            </form>
            {% if playlist_curtir != True %}
                {% if musica.curtida == True %}
                    <button type="submit" style="background-color: transparent; border: none;"><img class="curtida dislike-status"
                            src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/love.png?v=1748992652286"
                            onclick="dislikeMusic(this,'{{musica.titulo}}','{{musica.artista}}')" alt="" width="30"
                            style="cursor: pointer;"></button>
                {% else %}
                    <button type="submit" style="background-color: transparent; border: none;"><img class="curtida like-status"
                            src="https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/peace.png?v=1748992644854"
                            onclick="likeMusic(this,'{{musica.titulo}}','{{musica.artista}}')" alt="" width="30"
                            style="cursor: pointer;"></button>
                {% endif %}
            {% endif %}
        </div>

    </section>

    <script src="{% static 'musica/js/like-scripts.js' %}"></script>

    <script>
        const playlist = {{playlist}}; // django + js para pegar a playlist de musicas em "musicas_encontradas" CONSIDERE Q FUNCIONA

        const player = document.getElementById('player');
        const audioSource = document.getElementById('audio-source');
        const playBtn = document.getElementById("play");
        const pauseBtn = document.getElementById("pause");
        const likeBtn = document.querySelector(".curtida");
        const progressBar = document.getElementById('progress-bar');
        const progressContainer = document.querySelector('.progress-container');
        const thumb = document.getElementById('progress-thumb');

        let isDragging = false;

        let currentIndex = {{current_index}};

        function playAudio() {
            player.play();
            playBtn.style.display = 'none';
            pauseBtn.style.display = 'inline';
        }

        function pauseAudio() {
            player.pause();
            pauseBtn.style.display = 'none';
            playBtn.style.display = 'inline';
        }

        function nextSong() {
            currentIndex = (currentIndex + 1) % playlist.length;
            const musica = playlist[currentIndex];
            {% if playlist_curtir != True %}
                changeLike(musica.curtida,musica.nome,musica.artista);
            {% endif %}
            audioSource.src = musica.link;
            player.load();
            player.currentTime = 0;
            player.play();

            document.querySelector('.album-img img').src = musica.imagem;
            document.querySelector('h2').innerText = musica.nome;
            document.querySelector('h3').innerText = musica.artista;
        }

        function returnSong() {
            currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
            const musica = playlist[currentIndex];
            {% if playlist_curtir != True %}
                changeLike(musica.curtida,musica.nome,musica.artista);
            {% endif %}
            audioSource.src = musica.link;
            player.load();
            player.currentTime = 0;
            player.play();

            document.querySelector('.album-img img').src = musica.imagem;
            document.querySelector('h2').innerText = musica.nome;
            document.querySelector('h3').innerText = musica.artista;
        }

        // Atualiza a barra normalmente
        player.addEventListener('timeupdate', () => {
            if (!isDragging) {
                const percent = (player.currentTime / player.duration) * 100;
                progressBar.style.width = percent + '%';
                thumb.style.left = percent + '%';
            }
        });

        // Clique ou arraste na barra
        function updateBar(e) {
            const rect = progressContainer.getBoundingClientRect();
            const offsetX = e.clientX - rect.left;
            const percent = Math.max(0, Math.min(1, offsetX / rect.width));
            const percentValue = percent * 100;

            progressBar.style.width = percentValue + '%';
            thumb.style.left = percentValue + '%';
            player.currentTime = percent * player.duration;
        }

        progressContainer.addEventListener('mousedown', (e) => {
            isDragging = true;
            updateBar(e);
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) updateBar(e);
        });

        document.addEventListener('mouseup', () => {
            if (isDragging) {
                isDragging = false;
            }
        });
        // Atualiza o player quando a música termina
        function atualizarPlayer(musica) {
            audioSource.src = musica.link;
            player.load();
            player.currentTime = 0;
            {% if playlist_curtir != True %}
                changeLike(musica.curtida,musica.nome,musica.artista);
            {% endif %}
            player.play();

            // Atualiza capa e texto
            document.querySelector('.album-img img').src = musica.imagem;
            document.querySelector('h2').innerText = musica.nome;
            document.querySelector('h3').innerText = musica.artista;

            playBtn.style.display = 'none';
            pauseBtn.style.display = 'inline';
        }
        // Evento para quando a música termina
        player.addEventListener('ended', () => {
            currentIndex = (currentIndex + 1) % playlist.length;
            atualizarPlayer(playlist[currentIndex]);
        });

        function changeLike(curtida,nome,artista){
            const btn = document.querySelector(".curtida");
            if (curtida === false){
                btn.src = "https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/peace.png?v=1748992644854";
                btn.setAttribute("onclick", `likeMusic(this,'${nome}','${artista}')`);
            } else {
                btn.src = "https://cdn.glitch.global/569e6e49-726e-46db-afe9-b43e2f0dcadf/love.png?v=1748992652286";
                btn.setAttribute("onclick", `dislikeMusic(this,'${nome}','${artista}')`)
            }
        }
        {% if playlist_curtir != True %}
            likeBtn.addEventListener('click', () => {
                const classLike = likeBtn.classList;

                if ('like-status' == classLike[1]) {
                    playlist[currentIndex].curtida = true;
                } else if ('dislike-status' == classLike[1]) {
                    playlist[currentIndex].curtida = false;
                }
        });
        {% endif %}

    </script>
{% endblock %}