<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 class="title">Minhas Playlists</h1>

    <ul>
        {% for playlist in playlists %}
        <li>
            <h2>{{ playlist.nome }}</h2>
            <p>{{ playlist.descricao }}</p>
            <a href="{% url 'ver_playlist' playlist.id %}">Ver músicas</a>
            <a href="{% url 'excluir_playlist' playlist.id %}"
                onclick="return confirm('Tem certeza que deseja excluir esta playlist?');">
                <button type="button">Excluir</button>
            </a>
        </li>
        {% empty %}
        <li>Você ainda não tem nenhuma playlist.</li>
        {% endfor %}
    </ul>

</body>

</html>